.footer {
  text-align: center;
  width: 100%;
  margin-top: 29rem;
  padding-block: 2rem;
  background: var(--base-gray-700);

  a {
    color: var(--base-gray-300);
    text-underline-offset: 2px;
  }
}